<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AirFlys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>mainpage.html</welcome-file>
    <welcome-file>register.html</welcome-file>
    <welcome-file>ChangePassword.html</welcome-file>
    <welcome-file>AirlinesPortal.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>loginservlet</servlet-name>
  <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loginservlet</servlet-name>
  <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>registerationservlet</servlet-name>
  <servlet-class>registerationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>registerationservlet</servlet-name>
  <url-pattern>/registerationservlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>changepasswordservlet</servlet-name>
  <servlet-class>changepasswordservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>changepasswordservlet</servlet-name>
  <url-pattern>/changepasswordservlet</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>AirlinesPortalservlet</servlet-name>
  <servlet-class>AirlinesPortalservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AirlinesPortalservlet</servlet-name>
  <url-pattern>/AirlinesPortalservlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>DetailsFillingServlet</servlet-name>
  <servlet-class>DetailsFillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DetailsFillingServlet</servlet-name>
  <url-pattern>/DetailsFillingServlet</url-pattern>
  </servlet-mapping>
      <servlet>
  <servlet-name>Insertingdataservlet</servlet-name>
  <servlet-class>Insertingdataservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Insertingdataservlet</servlet-name>
  <url-pattern>/Insertingdataservlet</url-pattern>
  </servlet-mapping>
</web-app>